/* Cabecera*/ /* */
.cabecera{
    align-items: center;
    background: #f9f9f9;
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
}
/* Menu */
.menu__lista {
    display: flex;
}
.menu__item{
    list-style: none;
}
.menu__item:last-child .menu__link{
    margin-right: 0;
}

.menu__link{
    color: #808080;
    margin-right: 1.25rem;
    text-decoration: none;
    text-transform: lowercase;
}
.menu__link.activo{
    color: #333;
    font-weight: bold;
}
.menu__link:hover {
    text-decoration: underline;
}
/* Banner*/
.banner{

}
.banner__imagen{
    background: url("../img/banner.jpg") no-repeat center/cover;
    width: 100%;
}
.banner__titulo{
    color: #fdfdfd;
    font-family: Pacifico, cursive;
    position: absolute;
    left: 50%;
    text-align: center;
    top: 50%;
    text-shadow: 0 4px 4px rgba(0,0,0,0.75);
    width: 100%;
    transform: translate(-50%,-50%);
}
/* Sobre */
.sobre{
    text-align: center;
}
.sobre__titulo {
    color: #8d0606;
    font-family: Pacifico, cursive;
}
.sobre__descripcion {
    color: #595;
    font-weight: 100;
}

/* Receta */
.recetas{
    background: #e5e5e5;
    display: flex;
    flex-wrap: wrap;
    padding: 5rem 0 0 5rem;
}
.receta{
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;

}
.receta__boton{
    background: #8d0606;
    border: none;
    border-radius: 5px;
    color: #fdfdfd;
    padding: 1rem;
}
.receta__titulo{
    font-size: 1.4375rem;
}
.receta__contenido{
    padding: 1rem;
}
.receta__imagen{
    height: 200px;
}
.receta__descripcion{
    font-size: 1.1875rem;
    line-height: 1.5;
    text-align: justify;
}
/* Quienes somos */

.quienes-somos{
    text-align: center;
    padding: 5rem;
}
.quienes-somos__descripcion{
    font-weight: 100;
    font-size: 1.75rem;
    color: #595959;
}
.quienes-somos__titulo{
    margin-bottom: 1rem;
    color: #8d0606;
    font-size: 3.1875rem;
    font-family: Pacifico, cursive;
}

/* Personas */
.personas{
    display: flex;
    padding-top: 3rem;
    justify-content: space-around;
}
.persona{
    display: flex;
    flex-direction: column;
}
.persona__nombre {
    margin: 1rem 0;
    font-family: Pacifico, cursive;
    font-size: 2rem;
    color: #8d0606;
}
.persona__funcion {
    color: #595959;
    font-size: 1.25rem;
    text-transform: lowercase;
}
.persona__imagen--roberta {
    background: url("../img/personas/roberta.jpg");
}
.persona__imagen--andrea {
    background: url("../img/personas/andrea.jpg");
}
.persona__imagen--marcela {
    background: url("../img/personas/marcela.jpg");
}
.persona__imagen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100%;
    height: 300px;
    width: 300px;
}
/* Footer */

.pie-de-pagina{
    background: #bfbfbf;
    color: #fdfdfd;
    text-align: right;
    padding: 1.5625rem 5rem;
    text-transform: lowercase;

}





